[Unit]
Description=iBench (every 15m)
Requires=ibenc.service

[Timer]
OnCalendar=*:0/15
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
