[Unit]
Description=iBench
Documentation=https://github.com/shyaminayesh/ibenc
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/share/ibenc/ibenc -config /etc/ibenc/ibenc.yaml
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ibenc
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
